* {
    margin: 0;
    padding: 0;
}
body {
    background: url(./18.jpg) no-repeat center top;
}
li {
    list-style: none;
}
.themes{
    overflow: hidden;
    margin: 100px auto;
    background-color: #fff;
    width: 410px;
    padding-top: 3px;
}
.themes li{
    float: left;
    margin: 0 1px;
    cursor: pointer;
}

.themes img {
    width: 100px;
}